<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="data-viewer-table" version="2.0.0">
  <details>
    <title>Data Viewer (Table)</title>
    <authors>Aitor Magán &lt;amagan@conwet.com&gt;</authors>
    <contributors>Álvaro Arranz García &lt;aarranz@conwet.com&gt;</contributors>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <description>This widget allows you to view data in a table</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <homepage>https://github.com/Wirecloud/data-table-viewer-widget</homepage>
    <doc>doc/index.html</doc>
    <changelog>doc/changelog.md</changelog>
  </details>
  <wiring>
    <inputendpoint name="dataset" type="text" label="Data and Structure" description="A JSON with two fields: structure (for the structure of the data) and data (the data ifself)" actionlabel="Data and Structure" friendcode="dataset"/>
    <inputendpoint name="selected-row" type="text" label="Row selection" description="This event is sent every time a row is selected" friendcode="data-table-row"/>
  </wiring>
  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="37" width="15"/>
</widget>
